








.img
{



    /* margin-top: 20px; */
    height: 80vh;
    width: 300vh;
    margin-left: 0.01px;

}

/* navbar */
.nav {
  height: 5%;
  background-color: darkgray ;

} 
.nav-item,a
{
  
  font-family:Arial, Helvetica, sans-serif;
 margin-top: 0.1rem; 
 margin-bottom: 0.1rem;
font-size:x-large;
font-weight: 400px;


}

.nav-link,a :hover
{
color: black ;
background-attachment: fixed;
text-align: center;
font-family:  Arial, Helvetica, sans-serif;


}

.dropdown-menu
{
transition:1s;
  background-color: black;
 
cursor: pointer;

}

.dropdown-item
{
  color: aliceblue;
  font-family: serif;
}

/* navbar */

.contact
{
  /* margin-top: 30px; */
    font-family:sans-serif;
    font-size: 3rem;
    margin-left: 3rem;
}

.add-head
{
    font-family:sans-serif;
    font-size: 2rem; 
    margin-left: 3rem;
}
.address
{
    margin-left: 3rem;
    font-family:sans-serif;
    font-size: 22px;
}


.contact-no
{
    margin-left: 3rem;
    font-family:sans-serif;
    font-size: 22px;

}
.email
{

    margin-left: rem;
    font-family:sans-serif;
    font-size: 20px;
}

.address
{
  margin-left: 4rem;
}

.card-bottom
{
    margin-bottom: 10rem;
    margin-left: 4rem;
}

.bottom
{

  /* margin-top: rem; */
  background-size: cover;
  background-repeat: no-repeat;
  margin-top:9rem;
  background-image: url("Bott-back-img/bottom-back.jpg");
}


.bottom-logo
{
    margin-top: 1.5rem;
    height: 6rem;
    width: auto;
    margin-left: 4rem;
    
}



.footer{
  background-color:black;
  color: aliceblue;
  font-size: 18px;
  padding: 20px;
  text-align: center;
  /* position: absolute; */
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  
}





 body{
    margin: 0px;
    padding: 0px;
    width:100%;
    height: 100%;
    overflow-x:hidden;
   

}

.card-what {
    margin-right: 500px;
    width: fit-content;
    height: fit-content;
    /* background-color: rgb(238, 238, 238); */
    background-color: transparent;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 25px 25px;
    gap: 20px;
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055); */
  }
  
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    
    }
  }
  
  .container {
    margin-top: 40px;
    
    color: black;
    position: relative;
    font-family: sans-serif;
    
  }
  
.map
{
  margin-left:15%;
  height: 500%;
  width: 60%;
}

  .text-format
  {
    margin-top: 7rem;
  }


  /* bottom css */

  




  

  /* follus */
  /* From Uiverse.io by MijailVillegas */ 
  .card {
    max-width: fit-content;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 1rem;
    backdrop-filter: blur(15px);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.192),
      inset 0 0 5px rgba(255, 255, 255, 0.274), 0 5px 5px rgba(0, 0, 0, 0.164);
    transition: 0.5s;
  }
  
  .card:hover {
    animation: ease-out 5s;
    background: rgba(173, 173, 173, 0.05);
  }
  
  .card ul {
    padding: 1rem;
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .card ul li {
    cursor: pointer;
  }
  
  .svg {
    transition: all 0.3s;
    /* if you find some problems change w - h : 30px*/
    padding: 1rem;
    height: 60px;
    width: 60px;
    border-radius: 100%;
    /* color: rgb(255, 174, 0); */
    color: #1877f2;
    fill: currentColor;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
      inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
  }
  
  .text {
    opacity: 0;
    border-radius: 5px;
    padding: 5px;
    transition: all 0.3s;
    /* color: rgb(255, 174, 0); */
    color: #1877f2;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    z-index: 9999;
    box-shadow: -5px 0 1px rgba(153, 153, 153, 0.2),
      -10px 0 1px rgba(153, 153, 153, 0.2),
      inset 0 0 20px rgba(255, 255, 255, 0.3),
      inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.082);
  }
  
  /*isometric prooyection*/
  .iso-pro {
    transition: 0.5s;
  }
  .iso-pro:hover a > .svg {
    transform: translate(15px, -15px);
    border-radius: 100%;
  }
  
  .iso-pro:hover .text {
    opacity: 1;
    transform: translate(25px, -2px) skew(-5deg);
  }
  
  .iso-pro:hover .svg {
    transform: translate(5px, -5px);
  }
  
  .iso-pro span {
    /* opacity: 0;
    position: absolute;
    color: #1877f2;
    border-color: #1877f2;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
      inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.164);
    border-radius: 50%;
    transition: all 0.3s;
    height: 60px;
    width: 60px; */
  }
  
  .iso-pro:hover span {
    opacity: 1;
  }
  
  .iso-pro:hover span:nth-child(1) {
    opacity: 0.2;
  }
  
  .iso-pro:hover span:nth-child(2) {
    opacity: 0.4;
    transform: translate(5px, -5px);
  }
  
  .iso-pro:hover span:nth-child(3) {
    opacity: 0.6;
    transform: translate(10px, -10px);
  }
  
  
  
  
    